<div class="container-fluid vh-100 p-0 d-flex flex-column bg-dark">
    <!-- Fondo con imagen -->
    <div class="position-absolute w-100 h-100" style="z-index: 0;">
      <img
        src="assets/background2.png"
        alt="Background"
        class="img-fluid w-100 h-100"
        style="object-fit: cover;"
      />
    </div>
  
    <!-- Contenido central -->
    <div class="container d-flex flex-column align-items-center justify-content-center flex-grow-1">
      <div class="row g-3">
        <div class="col-6" *ngFor="let producto of productos">
          <div class="card shadow" style="overflow: hidden;">
            <img
              [src]="'assets/' + this.category + '/' +producto.imagen"
              class="card-img-top"
              [alt]="producto.title"
              style="height: 200px; object-fit: cover;"
            />
            <div class="card-body text-center">
              <h5 class="card-title">{{producto.title + ' - $' + producto.price}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-footer style="z-index: 99;"></app-footer>
  </div>
  