<!-- Menú inferior -->
<div class="d-flex justify-content-around align-items-center bg-white py-2 border-top" style="z-index: 11;">
    <button class="btn btn-link text-center">
      <i class="bi bi-chat-left-text"></i>
      <p class="mb-0 small">Caption</p>
    </button>
    <a routerLink="../categorias">
    <button class="btn btn-link text-center">
      <i class="bi bi-box-seam"></i>
      <p class="mb-0 small">Productos</p>
    </button>
    </a>
    <button class="btn btn-link text-center">
      <i class="bi bi-cart"></i>
      <p class="mb-0 small">Carrito</p>
    </button>
  </div>